<%= stylesheet_link_tag 'staticpages/top', media: 'all', 'data-turbolinks-track': 'reload' %>

<header>
  <div style="flex-grow: 1; display: flex; justify-content: flex-end;">
      <button class="btn custom-login-btn"><i class="fas fa-sign-in-alt fa-lg"></i> Login</button>
  </div>
</header>

<section id="about">
  <div class="container">
    <p>
      <%= link_to 'ログイン', auth_at_provider_path(provider: :line) %>
      <%= link_to 'カレンダー', events_path %>
      <%= form_with url: logout_path, method: :delete do %>
        <%= submit_tag 'ログアウト' %>
      <% end %>
    </p>
  </div>

<!--<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>-->

</section>
<div class="bg-custom-color text-text-color font-genjyuu w-full shadow-top-shadow">
  <footer class="flex flex-col items-center justify-center pb-6 pt-6">
    <ul class="flex justify-center mb-2">
      <li class="p-2 cursor-pointer"><a href="/terms" data-turbo="true">利用規約</a></li>
      <li class="p-2 cursor-pointer"><a href="/staticpages/privacy_policy" class="async-link" data-target="content-container">プライバシーポリシー</a></li>
    </ul>
    <p class="text-sm">© 2024 ReminderChat</p>
  </footer>
</div>