<%= stylesheet_link_tag 'staticpages/top', media: 'all', 'data-turbolinks-track': 'reload' %>

<%= render 'shared/header' %>
<turbo-frame id="content-container">
<section id="about">
  <div class="container">
    <div class="image-container">
      <%= image_tag 'ReminderChat.jpg', alt: 'ReminderChat Logo', class: 'about-image' %>
    </div>
    <p>
      <%= link_to 'ログイン', auth_at_provider_path(provider: :line) %>
      <%= link_to 'カレンダー', events_path, data: { turbo_frame: 'calendar-container' } %>
      <%= form_with url: logout_path, method: :delete do %>
        <%= submit_tag 'ログアウト' %>
      <% end %>
    </p>
  </div>

<!--<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="..." class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>-->

</section>
</turbo-frame>
<%= render 'shared/footer' %>