<%= stylesheet_link_tag 'events/_form', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">イベント追加</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_with(model: event, url: events_path, id: "event-form", local: true) do |f| %>
          <div class="mb-3">
            <%= f.label :title, "タイトル" %>
            <span data-bs-toggle="tooltip" data-bs-placement="right" title="入力が必須です">
              <i class="fa-solid fa-circle-exclamation tooltip-icon"></i>
            </span>      
            <%= f.text_field :title, id: "title", class: "form-control" %>
          </div>
          <%= f.hidden_field :start_date, id: "start_date" %>
          <div class="mb-3">
            <%= f.label :start_time, "開始時間" %>
            <%= f.time_field :start_time, class: "form-control", value: "18:00" %>
          </div>
          <%= f.hidden_field :end_date, id: "end_date" %>
          <div class="mb-3">
            <%= f.label :end_time, "終了時間" %>
            <%= f.time_field :end_time, class: "form-control", value: "23:59" %>
          </div>
          <div class="mb-3 d-flex align-items-center justify-content-between">
            <div>
              <%= f.label :line_notify, "LINE通知", class: "form-check-label" %>
            </div>
            <div class="form-check form-switch switch-container">
              <%= f.check_box :line_notify, class: "form-check-input", id: "line-notify-switch" %>
            </div>
          </div>
          <%= f.hidden_field :notify_date, id: "notify_date" %>
          <div class="mb-3" id="notify-time-input" style="display:none;">
            <%= f.label :notify_time, "通知時間", class: "form-label" %>
            <%= f.time_field :notify_time, id: "notify_time", class: "form-control", value: "06:00" %>
          </div>
          <div class="mb-3">
            <%= f.label :memo, "メモ" %>
            <%= f.text_area :memo, class: "form-control", rows: 3 %>
          </div>
          <%= f.submit "保存", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>