<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReminderChat</title>
    
    <meta name="description" content="ReminderChatは、LINE上で予定を管理できるアプリです。リマインド設定やカレンダーの使用が可能です。">
    <meta property="og:site_name" content="ReminderChat">
    <meta property="og:title" content="LINEリマインドサービス">
    <meta property="og:description" content="ReminderChatは、LINE上で予定を管理できるアプリです。リマインド設定やカレンダーの使用が可能です。">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://reminderchat-line.com">
    <meta property="og:image" content="https://reminderchat-line.com/assets/ReminderChat.image.jpg">
    <meta property="og:local" content="ja_JP">

    <meta name="twitter:title" content="ReminderChat">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Miyaki2323">
    <meta name="twitter:image" content="https://reminderchat-line.com/assets/ReminderChat.image.jpg">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap">
    <link rel="icon" type="image/png" href="<%= asset_path 'favicon.png' %>">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">
    <style>
      #modal, #response-modal {
        display: none;
      }
    </style>
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6XLB52CBVH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6XLB52CBVH');
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body>
    <!--<%= render 'shared/flash_messages' %>-->
    <%= yield %>
  </body>
</html>